
* {
    margin: 0;
    padding: 0;
}

body {
    color: red;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: black;
}

h1, h2, h3, h4 {
    color: #1098ad;
}

.container {
    width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0px;
}

footer p {
    font-size: 16px;
}

article header p {
    font-style: italic;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#footer {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.post-img {
    width: 100%;
    height: auto;
}

.related-posts-list {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    margin-bottom: 20px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
}

body {
    border-top: 10px solid #1098ad;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

article {
    margin-bottom: 40px;
}

/* li:first-child {
    font-weight: bold;
} */
/* 
li:nth-child(3) {
    color: red;
} */

/* Styling links */

a:-webkit-any-link {
    color: #1098ad;
    text-decoration: none;
}

a:hover {
    color: #085763;
    text-decoration: underline;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 15px;
}