
* {
}

body {
    color: red;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: black;
}

h1, h2, h3, h4 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}

article header p {
    font-style: italic;
}

#author {
    font-style: italic;
    font-size: 1
    8px;
}

#footer {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related-posts-list {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}

/* li:first-child {
    font-weight: bold;
} */
/* 
li:nth-child(3) {
    color: red;
} */

/* Styling links */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #a000ac;
}

a:hover {
    color: #5e98a0;
    text-decoration: underline;
}